.button {
    background-color: #101c2c;
    border: none;
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #2D84EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 45px;
    padding: 0 2em;
    font-weight: bold;
    font-size: 15px;
}