.button {
    background-color: #101c2c;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #2D84EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 1em;
    font-weight: bold;
}