.accountDetails {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1em;
    width: 100%;
}

.balanceButton {
    background-color: #101c2c;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #2D84EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    padding: 0 2em;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.address {
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 45%;
    top: 0;
}

@media only screen and (min-width: 600px) {
    .accountDetails {
        width: 45%;
    }
}

@media only screen and (min-width: 1024px) {
    .accountDetails {
        width: 35%;
    }
}



@media only screen and (min-width: 1180px) {
    .accountDetails {
        width: 30%;
    }
}