.accountDetails {
    display: flex;
    align-items: center;
    position: relative;
}

.balanceButton {
    background-color: #101c2c;
    border: none;
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #2D84EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    padding: 0 2em;
    font-weight: bold;
    font-size: 15px;
}

.address {
    background-color: #FFF;
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    left: 13%
}